body,
h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing: 1px;
}

.search-input {
    border-radius: 50px !important;
    padding-left: 18px;
}

.scroll-top-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  z-index: 1050; /* acima de modals e cards */
  cursor: pointer;
}


.animate-pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.7; }
  100% { transform: scale(1); opacity: 1; }
}


